/transcripts/*.png
/transcripts/*.zip
/ryanquest.inform/Index/*
/ryanquest.inform/Index/*/*.html
/*.epub
/ryanquest.inform/*.txt
/ryanquest.inform/*.html
/ryanquest.inform/*.iFiction
/ryanquest.inform/*.blurb
/ryanquest.inform/*.plist
/ryanquest.inform/*.skein